Package: com.derv82.exchangent
Name: Exchangent
Depends: preferenceloader, mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Spoof Exchange/ActiveSync User-Agent
Maintainer: derv82
Author: derv82
Section: Tweaks
