<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>MailForce935 Settings</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.derv82.exchanger</string>
        <key>key</key>
        <string>settings_Exchange_Enabled</string>
        <key>label</key>
        <string>Enable</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>defaults</key>
        <string>com.derv82.exchanger</string>
        <key>key</key>
        <string>settings_Exchanger_UserAgent</string>
        <key>label</key>
        <string>User-Agent</string>
        <key>default</key>
        <string>iPhone8C2/1307.36</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Created by derv82</string>
      </dict>
    </array>
    <key>title</key>
    <string>MailForce935</string>
  </dict>
</plist>
